# Ignore node_modules
node_modules/

# Ignore build directories
.astro
dist/
build/
public/

# Ignore pnpm lock file
pnpm-lock.yaml

# Ignore all files in a specific directory
public/*.html

# Ignore certain file types
*.min.js
*.min.css
