---
import ArrowRightBlackIcon from '@/components/icons/ArrowRightBlackIcon.astro'
---

<section
  class="relative mx-4 flex max-w-[1410px] flex-col items-start justify-between gap-8 overflow-hidden rounded-[30px] px-8 py-20 before:absolute before:inset-0 before:left-[-50px] before:z-[-1] before:rounded-[30px] before:bg-[url(/images/cta_banner_bg.webp)] before:bg-cover before:bg-no-repeat lg:mx-auto lg:flex-row lg:items-center lg:gap-0 lg:px-16"
>
  <h2
    class="text-4xl font-semibold leading-snug tracking-tight text-white lg:text-[80px]"
  >
    Ready to work with us ?
  </h2>
  <a
    class="max-w-220px flex h-14 cursor-pointer flex-row items-center justify-center gap-11 rounded-[70px] bg-white px-8 py-[22px] text-base font-semibold leading-[140%] tracking-tight"
    >Get Started <ArrowRightBlackIcon />
  </a>
</section>
