<div class="mx-4 w-full p-8">
  <p class="text-2xl font-extrabold leading-relaxed text-gray-800">
    “ They thoroughly analyze our industry and target audience, allowing them to
    develop customized campaigns that effectively reach and engage our
    customers. Their creative ideas and cutting-edge techniques have helped us
    stay ahead of the competition. ”
  </p>

  <div class="flex flex-col justify-between sm:flex-row">
    <div class="mt-6 flex items-center">
      <div class="mr-3 h-10 w-10 rounded-full bg-gray-300"></div>
      <div>
        <p class="font-semibold text-gray-900">Michael Kaizer</p>
        <p class="text-sm text-gray-500">CEO of Basecamp Corp</p>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-between">
      <a
        href="#"
        class="relative h-14 w-full min-w-[65px] max-w-[88px] cursor-pointer overflow-hidden rounded-[70px] border-[1px] border-[#010205] bg-[url(/images/arrow-left.webp)] bg-[length:24px_24px] bg-center bg-no-repeat before:inset-0 before:bg-[#010205] hover:before:absolute hover:before:inset-0 hover:before:bg-[url(/images/arrow-left-white.webp)] hover:before:bg-center hover:before:bg-no-repeat"
      ></a>
      <span class="text-sm text-gray-500 sm:mx-4 lg:mx-8"
        ><span class="font-bold text-black">01</span>/05</span
      >
      <a
        href="#"
        class="relative h-14 w-full min-w-[65px] max-w-[88px] cursor-pointer overflow-hidden rounded-[70px] border-[1px] border-[#010205] bg-[url(/images/arrow-right.webp)] bg-[length:24px_24px] bg-center bg-no-repeat before:inset-0 before:bg-[#010205] hover:before:absolute hover:before:inset-0 hover:before:bg-[url(/images/arrow-right-white.webp)] hover:before:bg-center hover:before:bg-no-repeat"
      ></a>
    </div>
  </div>
</div>
